# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/

# env files (never commit secrets)
.env
.env.local
.env*.local
**/.env
**/.env.local

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
*.swp

# testing
coverage/

# misc
*.tsbuildinfo
.vercel
